In [3]:
import pandas as pd

In [4]:
!pip install pyreadstat

Defaulting to user installation because normal site-packages is not writeable
Collecting pyreadstat
  Downloading pyreadstat-1.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 1.7 MB/s eta 0:00:0000:0100:010m
Requirement already satisfied: pandas>=1.2.0 in /home/zanejev/.local/lib/python3.10/site-packages (from pyreadstat) (2.1.0)
Requirement already satisfied: numpy>=1.22.4 in /home/zanejev/.local/lib/python3.10/site-packages (from pandas>=1.2.0->pyreadstat) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/zanejev/.local/lib/python3.10/site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/zanejev/.local/lib/python3.10/site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/zanejev/.local/lib/python3.10/site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.3

Океан это большая пятерка: открытость опыту, добросовестность, экстраверсия, доброжелательность, нейротизм

In [36]:
df = pd.read_spss("Data/01 data_big5_t-tests.sav")
df

,race,age,engnat,gender,hand,source,country,O,C,E,A,N,n400,n100
0,13.0,27.0,родной,мужской,левая,2.0,BZ,37.0,27.0,32.0,33.0,29.0,1.0,1.0
1,13.0,16.0,не родной,мужской,правая,2.0,GB,32.0,28.0,28.0,31.0,29.0,1.0,1.0
2,13.0,20.0,не родной,женский,правая,1.0,IN,34.0,32.0,29.0,34.0,35.0,1.0,1.0
3,13.0,20.0,не родной,мужской,правая,1.0,IN,31.0,27.0,27.0,27.0,36.0,1.0,1.0
4,13.0,18.0,не родной,мужской,правая,1.0,US,33.0,30.0,22.0,16.0,29.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7595,1.0,29.0,родной,женский,правая,2.0,JM,26.0,31.0,34.0,31.0,16.0,19.0,76.0
7596,1.0,20.0,родной,мужской,правая,1.0,NL,32.0,26.0,27.0,27.0,19.0,19.0,76.0
7597,1.0,19.0,родной,женский,правая,1.0,US,29.0,29.0,30.0,24.0,16.0,19.0,76.0
7598,1.0,18.0,родной,женский,правая,1.0,US,34.0,32.0,30.0,34.0,37.0,19.0,76.0
7599,1.0,18.0,родной,женский,правая,4.0,US,29.0,37.0,36.0,33.0,36.0,19.0,76.0

Проверяем нормальность распределения методом Колмогорова - Смирнова

In [14]:
import math
import numpy as np
!pip install scipy
from scipy.stats import kstest

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.11.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.3/36.3 MB 7.7 MB/s eta 0:00:0000:0100:01m
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /home/zanejev/.local/lib/python3.10/site-packages (from scipy) (1.25.2)
Installing collected packages: scipy
Successfully installed scipy-1.11.2

In [15]:
statistic, p_value = kstest(df["O"], 'norm', args=(np.mean(df["O"]), np.std(df["O"])))

In [16]:
print(f"Statistic: {statistic}")
print(f"P-value: {p_value}")

# Интерпретация результатов
alpha = 0.05
if p_value > alpha:
    print('Принимаем гипотезу о нормальности распределения')
else:
    print('Отклоняем гипотезу о нормальности распределения')

Statistic: 0.07678411580752037
P-value: 2.0367579967121362e-39
Отклоняем гипотезу о нормальности распределения

In [17]:
import numpy as np

group1 = np.array([37.0, 32.0, 34.0, 31.0, 33.0])
group2 = np.array([27.0, 28.0, 32.0, 27.0, 30.0])

mean1 = np.mean(group1)
mean2 = np.mean(group2)

sd1 = np.std(group1, ddof=1)
sd2 = np.std(group2, ddof=1)

sdpooled = np.sqrt((sd1**2 + sd2**2) / 2)

cohens_d = (mean1 - mean2) / sdpooled

print(cohens_d)

2.0571825392998053